<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar" class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow">
        <div class="container">
            <a class="navbar-brand text-primary fw-bold" href="/index">🍿 CineBuzz</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/movies">🎬 Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="/theatres">🎭 Theatres</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tickets">🎟️ Tickets</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
