<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Theatre</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Edit Theatre</h2>

        <form th:action="@{/updatetheatre}" method="post">
            <input type="hidden" name="theatreId" th:value="${theatre['theatreId']}">
            
            <div class="mb-3">
                <label>Theatre Name</label>
                <input type="text" name="theatreName" class="form-control" th:value="${theatre['theatreName']}" required>
            </div>

            <div class="mb-3">
                <label>Capacity</label>
                <input type="number" name="capacity" class="form-control" th:value="${theatre['capacity']}" required>
            </div>

            <div class="mb-3">
                <label>Screens</label>
                <input type="number" name="screens" class="form-control" th:value="${theatre['screens']}" required>
            </div>

            <h4>Address</h4>
            <div class="row">
                <div class="col">
                    <label>Country</label>
                    <input type="text" name="address.country" class="form-control" th:value="${theatre['address']['country']}" required>
                </div>
                <div class="col">
                    <label>State</label>
                    <input type="text" name="address.state" class="form-control" th:value="${theatre['address']['state']}" required>
                </div>
                <div class="col">
                    <label>City</label>
                    <input type="text" name="address.city" class="form-control" th:value="${theatre['address']['city']}" required>
                </div>
                <div class="col">
                    <label>Address Line</label>
                    <input type="text" name="address.addressLine" class="form-control" th:value="${theatre['address']['addressLine']}" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Update Theatre</button>
            <a href="/manage_theatre" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
</body>
</html>
